*{margin:0;padding:0;}
@font-face {
   font-family: 'NotoSans';
   src: url('font/NotoSans-Regular.ttf');
   src: url('font/NotoSans-Regular.ttf') format('ttf'),
        url('font/NotoSans-Regular.ttf') format('truetype');
}
a{
  text-decoration: none;
  color: #000000;
}
body{
  height: auto;
  background: #f0f0f0;
  overflow-x: hidden;
}
.side-menu{
  width: 250px;
  height: 610px;
  /* height: 800px; */
  background-color: #333645;
  display: block;
  float: left;
}
.profile-box{
  width: 250px;
  height: 100px;
  background: #a48ad4;
  display: block;
  overflow: auto;
  font-family: 'Noto Sans',sans-serif;
}
.profile-box-sekre{
  width: 250px;
  height: 100px;
  background: #279a5c;
  display: block;
  overflow: auto;
  font-family: 'Noto Sans',sans-serif;
}
#profile-bendahara{
  background: #e74c3c;
}
.menu-atas{
  width: 1366px;
  height: 100px;
  float: none;
  background: #ffffff;
}
.menu-atas > i{
  margin: 32px 30px;
  color: grey;
}
.menu-atas > span{
  font-size: 36px;
  position: relative;
  /* top: 4px; */
  display: inline-block;
}
.menu-atas > label{
  float: right;
}
.user-photo{
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 50%;
  margin: 14px 10px;
  float: left;
}
.profile-box span{
  display: block;
  color: #dadada;
}
.profile-box span:first-of-type{
  margin: 20px 0 5px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.profile-box-sekre span{
  display: block;
  color: #dadada;
  margin-top: 10px;
}
.profile-box-sekre span:first-of-type{
  margin: 20px 0 5px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.cat{
  color: #a2a2a2;
  font-weight: bold;
  display: block;
  font-size: 15px;
  margin: 40px 30px 0;
  font-family: 'Noto Sans' ,sans-serif;
}
.side-menu ul{
  margin-top: 10px;
}
.side-menu li{
  color: white;
  width: 250px;
  height: 60px;
  overflow: auto;
  cursor: pointer;
}
.side-menu li:first-child{
  background: #1e202c;
}
.main-dash{
  width: 1095px;
  height: 510px;
  background: #f4f4f4;
  /* margin: 0 250px 0; */
  float: none;
  /* display: block; */
  overflow: auto;
}
.icon-nav{
  float: left;
  margin-left: 30px;
}
.icon-nav img{
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.icon-nav i{
  font-size: 20px;
}
.ket-nav{
  margin-left: 60px;
  font-size: 18px;
  font-family: 'Noto Sans',sans-serif;
  font-weight: bold;
}
.menu-nav{
  margin: 18px 0 0;
  width: 200px;
  height: auto;
  display: block;
}
.label-dash{
  font-family: 'Noto Sans' , sans-serif;
  font-size: 30px;
  margin: 20px 30px 0;
  display: block;
  position: relative;
}
.ket-dash{
  margin: 10px 30px 0;
  font-family: 'Noto Sans' , sans-serif;
  color: #a6a4a4;
  font-size: 15px;
  display: block;
}
.garis-dash{
  width: 98%;
  margin: 10px auto 0;
}
.head-tab{
  width: 98%;
  height: 50px;
  background: #9e9e9e;
  margin: 10px auto 0;
}
.icon-search{
  float: right;
  margin: -26px 20px 0;
}
.icon-search i{
  font-size: 26px;
}
.list-buku{
  width: 98%;
  margin: auto;
}
.list-buku table ,th ,td{
  border : 1px solid #888888;
  border-collapse: collapse;
  font-family: 'Noto Sans',sans-serif;
  text-align: center;
  height: 40px;
  margin: 10px 0 0;
}
.list-buku tr:first-child{
  background: #346478;
  color: #ffffff;
}
.list-buku table tr td:first-child{
  width: 40px;
}
.list-buku table tr td:nth-child(2){
  width: 220px;
}
.list-buku table tr td:nth-child(3){
  width: 200px;
}
.list-buku table tr td:nth-child(4){
  width: 220px;
}
.list-buku table tr td:nth-child(5){
  width: 160px;
}
.list-buku table tr td:nth-child(6){
  width: 160px;
}
.list-buku table tr td:last-child{
  width: 330px;
}
.tambah-buku img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.tambah-buku{
  margin: -30px 10px 0;
  float: right;
}
.form-buku{
  width: 700px;
  height: 830px;
  background: #ffffff;
  margin: 20px 35px 90px;
  float: left;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.box-statis{
  width: 300px;
  height: 300px;
  background: #ffffff;
  float: right;
  margin: 20px 20px 0 0;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.box-statis-bawah{
  margin: 10px 20px 10px 0;
  width: 300px;
  height: 280px;
  background: #ffffff;
  float: right;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.border-input{
  width: 310px;
  height: 30px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  margin: 10px 30px 0;
}
.form-buku input[type="text"]{
  display: block;
  width: 290px;
  height: 30px;
  margin: 0 10px 0;
  border: none;
  font-family: 'Noto Sans',sans-serif;
}
.form-buku input[type="file"]{
  display: block;
  /* margin: 0 0 0 30px; */
  width: 170px;
  height: 40px;
}
.form-buku input[type="submit"]{
  margin: -25px 30px 0;
  border: none;
  background: #046efa;
  display: block;
  font-weight: 600;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Noto Sans',sans-serif;
  padding: 12px 12px;
}
.crop-area{
  width: 250px;
  height: 250px;
  background: grey;
  margin: 20px 30px;
}
.crop-area-res{
  width: 100px;
  height: 100px;
  background: grey;
  margin: 10px 30px 0;
}
.button-upload{
  width: 170px;
  height: 35px;
  background: #046efa;
  border-radius: 4px;
  margin: 20px 30px;
  display: block;
  overflow: auto;
}
.input-file{
  width: 70px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 5;
}
.input-file + label{
  height: 18px;
  border-radius: 3px;
  padding: 2px 2px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Noto Sans',sans-serif;
  color: white;
  display: block;
  margin: 6px 0 0 20px;
}
.button-upload i{
  margin: 0 10px 0 -6px;
  font-size: 18px;
}
#statistik{
  display: none;
}
#tambah-buku{
  display: none;
  height: auto;
}
#kelola-kategori{
  display: none;
}
#not-table-lap{
  width: 115px;
  font-family: 'NotoSans',sans-serif;
  font-size: 14px;
}
#dana{
  width: 110px !important;
}
/* css nya indah */
.wrapper{
	width:100%;
	max-width:1366px;
	height: 100vh;
	background-image:url('image/bg-sekre.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	float:left;
	position:relative;
}

.form-input{
	width:30%;
	height:440px;
	margin-left:36%;
	margin-top:70px;
	background-color:#ffffff;
	border-radius:10px;
	position:absolute;
}

.form{
	width:30%;
	height:440px;
	margin:0 auto;
	margin-left:36%;
	margin-top:70px;
	position:relative;
	/* background-color:; */
	text-align:center;

}

.input{
	width:75%;
	height:40px;
	padding-left:10px;
	margin-top:20px;
	border-radius:5px;
	border:1px solid #ababab;
	background-color:transparent;
	color:#838181;
	outline:none;
	font-size:15px;
}
.error{
	width:100%;
  position: relative;
  top: 7px;
  right: 95px;
	color:red;
	font-size:14px;
}

.check-box{
	margin-left:48px;
	margin-top:18px;
	float:left;
	cursor:pointer;
}
.submit{
	width:75%;
	height:45px;
	border:none;
	background-color:#00F;
	border-radius:6px;
	color:#fff;
	cursor:pointer;
	font-size:15px;
}
.submit:disabled{
	filter:grayscale(80%);
}
.link{
	text-decoration:none;
	color:#666;
	float:left;
	padding:20px 48px;
	font-size:15px;
	transition:0.5s;
}
.link:hover{color:#000;}


/* css forgot password */
.box-forgot{
  width: 400px;
  height: 480px;
  margin-top: 30px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 3px 3px 3px rgba(80, 80, 80, 0.09);
}
.forgot-pass{
  width: 77%;
  height: 400px;
  margin: 0 auto;
  padding-top: 40px;
}
.forgot-pass span{
  /*margin-left: -130px;*/
  font-size: 27px;
  font-family: 'Product sans';
  text-align: left;
}
.line{
  width: 100%;
  height: 2px;
  background-color: grey;
}
.forgot-pass p{
  font-size: 16px;
  font-family: 'Product sans';
  padding-top: 50px;
  padding-bottom: 50px; 
  text-align: left;
}
.forgot-pass .sandi{
  font-size: 14px;
  font-family: 'Product sans';
  padding-top: 10px;
  text-align: left;
}
.forgot-pass button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #046efa;
  color: #ffffff;
  font-family: 'Noto Sans',sans-serif;
  font-size: 15px;
  font-weight: 600;
  float: right;
  margin-top: 20px;
}
.field-forgot{
  width: 100%;
  height: 25px;
}
/* end css forgot password */
/* Responsip forget password */

@media only screen and (max-width: 360px){
  .box-forgot{/*
    background-color: red;*/
    width: 100%;
    height: auto;
  }
}

/* end responsip forget pass */

/* css nya fikri */

.wrapper-login{
  background: url('image/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.form-login{
  width: 400px;
  height: 400px;
  background: #ffffff;
  border-radius: 6px;
  position: relative;
  top: 110px;
  left: 100px;
  overflow: auto;
  float: left;
}
.vl{
  height: 400px;
  border-left: 3px solid #ffffff;
  position: relative;
  display: block;
  /* margin: 85px auto 0; */
  float: right;
  top: 110px;
  right: 680px;
}
.form-login span{
  font-size: 36px;
  display: block;
  font-family: 'Noto Sans',sans-serif;
  margin: 46px 44px 33px;
}
.motiv{
  width: 400px;
  height: 400px;
  float: right;
  display: block;
  margin: 192px 125px 0;
  font-family: 'Noto Sans',sans-serif;
}
.motiv span{
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.motiv span:nth-of-type(2){
  font-weight: 400;
  font-size: 30px;
  margin: 10px 40px 0;
  display: block;
}
.motiv p{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 0;
}
.form-login input[type="text"],input[type="password"]{
  display: block;
  width: 290px;
  height: 30px;
  margin: 0 10px 0;
  border: none;
  font-family: 'Noto Sans',sans-serif;
}
.form-login input[type="submit"]{
  margin: 23px 40px 0;
  border: none;
  width: 310px;
  height: 40px;
  font-family: 'Noto Sans',sans-serif;
  background-color: #2f7bfe;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.form-login input[type="submit"]:hover{
  cursor: pointer;
}
.forgot-password{
  font-size: 14px;
  font-family: 'Noto Sans',sans-serif;
  margin: 20px 45px 0;
}
.forgot-password a{
  text-decoration: none;
  color: #585656;
}
.back-index{
  margin: 20px 40px 0;
  font-family: 'Noto Sans',sans-serif;
}
.back-index a{
  text-decoration: none;
  color: #585656;
  font-size: 14px;
  margin-left: 5px;
}
.validasi-login{
  color: red;
  font-family: 'Noto Sans',sans-serif;
  margin-left: 40px;
  font-size: 14px;
}
/* dasboard user */
#buku{
  height: 700px;
}
#favorite{
  display: none;
}
.book-wh{
  width: 150px;
  height: 200px;
  background: red;
  margin: 20px 0 40px 60px;
  display: inline-flex;
  overflow: auto;
  box-shadow: -6px 8px 4px 0px rgba(148,148,148,1);
}
.book-wh img{
  position: relative;
  width: 150px;
  height: 200px;
}
.button-pinjam{
  width: 150px;
  height: 200px;
  position: absolute;
  display: none;
  z-index: 3;
  background: rgba(108, 108, 108, 0.44);
}
.button-pinjam span{
  width: 80px;
  height: 25px;
  background: #0ae496;
  color: white;
  margin: 85px 0 0 35px;
  display: block;
  text-align: center;
  font-family: 'NotoSans',sans-serif;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;

}
.button-pinjam span:hover{
  cursor: pointer;
}
.book-wh:hover > .button-pinjam{
  display: block;
}
.book-wh-pinjam:hover > .button-pinjam{
  display: block;
}
.book-cv{
  width: 150px;
  height: 200px;
  background: red;
  position: absolute;
  margin: 18px 20px 0;
  z-index: 1;
  /* position: relative; */
}
.pagging{
  width: 160px;
  height: auto;
  display: block;
  margin: 10px auto 0;
}
.pagging a{
  text-decoration: none;
}
#pagging-user{
  width: 170px;
  margin-bottom: 20px;
}
.setting{
  float: right;
  margin: 30px 50px 0;
  display: block;
}
.setting button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #046efa;
  color: #ffffff;
  font-family: 'Noto Sans',sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.setting button:hover{
  cursor: pointer;
}
.setting button i{
  margin: 0 8px 0 -2px;
  font-size: 16px;
}
.not-table{
  display: block;
  margin: 10px auto 0;
  width: 100px;
  height: 15px;
}
.main-tab{
  /* width: 1085px; */
  width: 98%;
  height: 60px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-bottom: none;
  display: block;
  margin: 0 auto 0;
  overflow: auto;
}
.main-tab:first-of-type{
  margin: 10px auto 0;
  border-bottom: none;
}
.main-tab:last-of-type{
  border: 1px solid #d5d5d5;
}
#add-cat{
  display: none;
  height: 120px;
}
.search-cat{
  width: 700px;
  height: 60px;

}
.search-cat i{
  margin: 12px 20px 0;
  color: #091a2f;
}
.search-cat input{
  width: 500px;
  height: 40px;
  font-size: 20px;
  border:none;
  color: #091a2f;
}
.main-tab button{
  float: right;
  display: block;
  margin: -50px 10px 0;
  background: #046efa;
  border-radius: 6px;
  border : none;
  color: #ffffff;
  width: 160px;
  height: 40px;
  font-weight: 600;
}
.cat-submit{
  width: auto;
  height: auto;
}
#add-cat span{
  font-size: 16px;
  font-family: 'Noto Sans',sans-serif;
  font-weight: 600;
  margin: 5px 10px 0;
  display: block;
}
#add-cat input{
  margin: 10px 10px 0;
  width: 250px;
  height: 25px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid grey;
}
#add-cat button{
  float: none;
  width: 100px;
  height: 40px;
  margin: 10px 10px 0;
}
#add-cat i{
  float: right;
  font-size: 25px;
  margin: -110px 5px 0;
}
.cat-child{
  width: 1080px;
  height: 50px;
  margin: 5px auto 0;
  display: block;
}
.cat-child i{
  font-size: 25px;
  margin: 14px 0 0 50px;
}
.name-cat{
  font-family: 'Noto Sans',sans-serif;
  font-size: 16px;
  margin: -24px 125px 0;
  display: block;
  width: 150px;
}
.list-buku a{
  text-decoration: none;
}
.cat-not{
  width: 170px;
  height: auto;
  display: block;
  margin: 10px auto 0;
  text-align: center;
  font-family: 'NotoSans',sans-serif;
}
.list-laporan{
  width: 98%;
  margin: auto;
}
.list-laporan table ,th ,td{
  border : 1px solid #888888;
  border-collapse: collapse;
  font-family: 'Noto Sans',sans-serif;
  text-align: center;
  height: 40px;
  margin: 10px auto 0;
}
.list-laporan tr:first-child{
  background: #346478;
  color: #ffffff;
}
.list-laporan table tr td:first-child{
  width: 40px;
}
.list-laporan table tr td:nth-child(2){
  width: 220px;
}
.list-laporan table tr td:nth-child(3){
  width: 140px;
}
.list-laporan table tr td:nth-child(4){
  width: 160px;
}
.list-laporan table tr td:nth-child(5){
  width: 160px;
}
.list-laporan table tr td:nth-child(6){
  width: 160px;
}
.list-laporan table tr td:nth-child(7){
  width: 160px;
}
.list-laporan table tr td:last-child{
  width: 230px;
}
.list-laporan a{
  text-decoration: none;
}
.setting-box{
  width: 800px;
  height: 1000px;
  background: #ffffff;
  display: block;
  margin: 40px auto ;
  border-radius: 6px;
}
.setting-box label{
  margin: 20px 35px 10px;
  font-family: 'Noto Sans',sans-serif;
  font-weight: 500;
  font-size: 26px;
  display: inline-block;
}
.setting-box hr{
  color: #d7d7d7;
}
.profile-box-set{
  width: 180px;
  height: 180px;
  background: red;
  margin: 20px auto 0;
}
.tombol-ganti{
  width: 80px;
  height: 30px;
  margin: 50px 30px 0;
  font-family: 'Noto Sans',sans-serif;
  border: none;
  background: #046efa;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}
.photo-span{
  float: left;
  display: inline-block;
  font-size: 24px;
  font-family: 'Noto Sans',sans-serif;
  margin: 10px 20px 0 200px;
  font-weight: 400;
}
.photo-delete{
  clear: left;
  display: inline-block;
  margin: 20px 46px 0;
  font-size: 16px;
  font-family: 'Noto Sans',sans-serif;
}
.box-input-set{
  width: 100%;
  height: 680px;
  display: block;
  margin-top: 20px;
  overflow: auto;
}
.label-input{
  font-family: 'Noto Sans',sans-serif;
  font-size: 18px;
  display: inline-table;
  margin: 20px 25px 0 130px;
}
.label-input:nth-of-type(2){
  margin: 20px 40px 0 130px;
}
.label-input:nth-of-type(3){
  margin: 20px 40px 0 130px;
}
.box-input-set input{
  width: 250px;
  height: 20px;
  margin: -10px 0 0;
  display: inline-table;
}
.box-input-set select{
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
.box-input-set select:nth-of-type(2){
  width: 70px;
  height: 20px;
  margin-right: 10px;
}
.box-input-set select:nth-of-type(3){
  width: 70px;
  height: 20px;
  margin-right: 10px;
}
.box-input-set option{
  width: 30px;
}
.box-input-set input[type="radio"]{
  /* display: inline-table; */
  width: 10px;
  height: 10px;
  margin: 12px 10px 0 -2px;
}
.box-input-set input[type="radio"]{
  margin: 12px 0 0 -2px;
}
.label-gender{
  margin: 12px 20px 0 5px;
}
#moved-input{
  margin-right: 92px;
}
#moved-input2{
  margin-right: 35px;
}
#moved-input3{
  margin-right: 105px;
}
.crop-area-set{
  width: 800px;
  height: 350px;
  margin: 15px 0 0;
  display: block;
}
.crop-area-crop{
  width: 250px;
  height: 250px;
  background: grey;
  margin: 40px 0 0 126px;
  display: inline-flex;
}
.crop-result{
  width: 100px;
  height: 100px;
  background: grey;
  display: inline-flex;
  margin-left: 30px;
}
#button-upload-setting{
  width: 148px;
  height: 35px;
  background: #046efa;
  border-radius: 4px;
  margin: 25px 30px 0;
  display: inline-flex;
  overflow: auto;

}
#button-upload-setting input{
  width: 200px;

}
#button-upload-setting input[type="file"] {
  display: block;
  margin: 0 0 -10px 0 ;
  width: 148px;
  height: 40px;
}
#button-upload-setting label{
  height: 18px;
  border-radius: 3px;
  padding: 2px 2px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Noto Sans',sans-serif;
  color: white;
  display: block;
  margin: 6px 0 0 20px;
}
#submit-set{
  width: 100px;
  height: 35px;
  border-radius: 4px;
  border: none;
  background: #046efa;
  color: #ffffff;
  font-family: 'Noto Sans',sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-left: 125px;
  margin-top: 40px;
}
.guide-box{
  width: 80%;
  height: auto;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #dedede;
  display: block;
  margin: 25px auto 0;
  /* overflow: auto; */
}
.guide-title{
  display: block;
  font-family: 'Noto Sans',sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 25px 0 10px 30px;
}
.test-box{
  width: 10px;
  height: 800px;
  background: red;
}
.guide-image{
  width: 90%;
  height: 200px;
  margin: 10px auto;

}
.guide-content{
  width: 90%;
  height: auto;
  margin: 10px auto;
  font-family: 'Noto Sans',sans-serif;
}
#book-title{
  width: 240px;
}
.book-cover{
  width: 220px;
  height: 300px;
  background: grey;
  display: block;
  margin: 80px 0 0 180px;
  float: left;
}
.book-t{
  width: 500px;
  height: 100px;
  font-family: 'NotoSans',sans-serif;
  text-align: left;
  font-size: 30px;
  margin: 80px 460px 0;
  /* background: red; */
}
.book-t span{
  font-size: 18px;
  font-family: 'NotoSans',sans-serif;
  text-align: left;
  display: block;
  margin-top: 10px;
}
.pinjam-di{
  width: 250px;
  height: 300px;
  margin: -100px 120px 0;
  float: right;
  overflow: auto;
  font-family: 'NotoSans',sans-serif;
}
.book-cover img{
  width: 220px;
  height: 300px;
}
#pinjam{
  font-size: 26px;
  margin: 10px 0 10px;
  display: block;
  color: #15368e;
}
#durasi-pinjam{
  width: 200px;
  height: 30px;
  font-size: 15px;
  color: #e91e63;
  margin: 5px 0 0 0;
}
.pinjam-buku{
  width: 220px;
  height: 50px;
  font-size: 20px;
  display: block;
  margin: 5px 0 0;
}
.pinjam-di button{
  width: 220px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #25225a;
  color: #ffffffff;
  margin: 20px 0 0;
  font-size: 16px;
}
.pinjam-di button:hover{
  cursor: pointer;
}
#tos-pinjam{
  font-size: 14px;
  margin-top: 8px;
  display: block;
}
#tos-pinjam a{
  color: #001a8a;
}
#pinjam-buku-dash{
  width: 100%;
  display: block;
  height: auto;
  min-height: 1200px;
  /* overflow: scroll; */
}
.deskripsi-buku{
  width: 1030px;
  height: 300px;
  border-bottom: 1px solid #606060;
  clear: both;
  position: relative;
  margin-left: 180px;
  margin-bottom: 20px;
  top: 60px;
  display: block;
  overflow: auto;
}
.tab-des{
  width: auto;
  height: auto;
}
.tab-des-buku,.tab-des-detail{
  width: 160px;
  height: 48px;
  font-family: 'NotoSans',sans-serif;
  float: left;
  font-size: 16px;
  overflow: auto;
  border-bottom: 2px solid #25225a;
}
.tab-des-detail{
  border-bottom: none;
}
.tab-des-buku:hover,.tab-des-detail:hover{
  cursor: pointer;
}
.tab-des-buku span,.tab-des-detail span{
  margin-top: 12px;
  text-align: center;
  display: block;
  height: 22px;
}
.detail-des{
  width: 1030px;
  height: 250px;
  margin-top: 50px;
  display: none;
  font-family: 'NotoSans',sans-serif;
  overflow: auto;
}
.isi-des{
  width: 1030px;
  height: 230px;
  margin-top: 70px;
  display: block;
  font-family: 'NotoSans',sans-serif;
}
.isi-des p,.detail-des p{
  font-family: 'NotoSans',sans-serif;
  font-size: 16px;
}
.table-bunk{
  margin: 10px 0 0 2px;
  display: block;
  width: 90%;
  height: auto;
}
.table-bunk table tr td{
  border: none;
  text-align: left;
}
.table-bunk table tr td:first-child{
  width: 91%;
}
.table-bunk table tr td:last-child{
  font-weight: 600;
}
.rekomendasi-buku{
  width: 1030px;
  height: 290px;

  border-radius: 4px;
  clear: both;
  position: relative;
  margin-left: 180px;
  margin-bottom: 20px;
  top: 80px;
  display: block;
  overflow: auto;
  font-family: 'NotoSans',sans-serif;
}
.reko-title{
  font-size: 24px;
  margin: 8px 0 0 10px;
  display: block;
  color: #25225a;
}
.book-wh-pinjam{
  width: 150px;
  height: 200px;
  background: red;
  margin: 18px 0 20px 10px;
  display: inline-flex;
  overflow: auto;
  box-shadow: -6px 8px 4px 0px rgba(148,148,148,1);
}
.book-wh-pinjam img{
  width: 150px;
  height: 200px;
}
.confirm-box{
  width: 60%;
  height: auto;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  display: block;
  margin: 50px auto 50px;
}
.confirm-title{
  font-family: 'NotoSans',sans-serif;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #25225a;
}
.confirm-box-isi{
  width: 100%;
  height: auto;
  min-height: 300px;
}
.confirm-box-code{
  width: 40%;
  height: 40px;
  background: #25225a;
  display: block;
  border-radius: 3px;
  margin: 6px auto 5px;
  color: #ffffff;
  font-family: 'NotoSans',sans-serif;
  overflow: auto;
}
.confirm-box-code span{
  font-size: 16px;
  display: block;
  margin: 8px 15px 0;
}
.confirm-box-tos p{
  margin: 10px 10px 0;
  font-family: 'NotoSans',sans-serif;
  font-size: 15px;
}
.confirm-box-list{
  display: block;
  width: 95%;
  height: 200px;
  margin: 0 auto 0;
}
.confirm-box-list ol{
  margin: 10px 15px 0;
  font-family: 'NotoSans',sans-serif;
  font-size: 15px;
}
.confirm-text{
  display: block;
  margin: 0 12px 0;
  font-family: 'NotoSans',sans-serif;
  font-size: 15px;
  margin-bottom: 8px;
}
.confirm-text:last-of-type{
  margin-bottom: 20px;
}
/* --responsive-- */

/* responsive nya indah */
@media only screen and (max-width: 720px) {
  .form-input{
  	width:50%;
  	height:380px;
  	margin:0px auto;
  	margin-left:180px;
  	margin-top:50px;

  }

  .form{
  	width:50%;
  	height:420px;
  	margin:0 auto;
  	margin-top:-10px;
  	position:relative;
  	}
  .wrapper{
  	width:100%;
  	max-width:1366px;
  	height:485px;
  }
  .error{
  	width:100%;
    top: 10px;
    right: 80px;
  }
  .motiv,.vl{
    display: none;
  }
  .form-login{
    display: block;
    width: 350px;
    top: 50px;
    left: 185px;
  }
  .border-input{
    width: 260px;
  }
  .border-input input[type="text"],input[type="password"]{
    width: 199px;
  }
  .form-login input[type="submit"]{
    width: 260px;
  }
  .list-buku table tr td:nth-child(2){
    width: 200px;
  }
  .list-buku table tr td:nth-child(3){
    display: none;
  }
  .list-buku table tr td:nth-child(4){
    display: none;
  }
  .list-buku table tr td:last-child{
    width: 150px;
  }
  .side-menu{
    display: none;
  }
  .main-dash{
    max-width: 720px;
    /* min-width: 100px; */
  }
  .setting{
    margin: 30px 680px 0 0;
    width: 80px;
  }
}
@media screen and (max-width: 360px) {

  .form-input{
  	width:95%;
  	height:380px;
  	margin:0px auto;
  	margin-left:8px;
  	margin-top:60px;

  }
  .form{
  	width:100%;
  	height:420px;
  	margin:0 auto;
  	margin-top:-10px;
  	position:relative;
  }
  .wrapper{
  	width:100%;
  	max-width:1366px;
  	height:485px;
  }
  .error{
	width:100%;
	top: 10px;
  right: 25px;
  }
  /* responsive fikri */
  .motiv,.vl{
    display: none;
  }
  .form-login{
    display: block;
    width: 350px;
    top: 30px;
    left: 5px;
  }
  .border-input{
    width: 260px;
  }
  .border-input input[type="text"],input[type="password"]{
    width: 199px;
  }
  .form-login input[type="submit"]{
    width: 260px;
  }
  /* responsive dasboard */
  .side-menu{
    display: none;
  }
  .list-buku table tr td:nth-child(2){
    width: 200px;
  }
  .list-buku table tr td:nth-child(4){
    display: none;
  }
  .list-buku table tr td:nth-child(5){
    display: none;
  }
  .list-buku table tr td:nth-child(6){
    display: none;
  }
  .list-buku table tr td:nth-child(3){
    display: none;
  }
  .list-buku table tr td:last-child{
    width: 100px;
  }
  .pagging{
    margin: 10px 100px 0;
  }
  .setting{
    margin: 30px 980px 0 0;
    width: 80px;
  }
  .setting button{
    width: 40px;
    height: 40px;
  }
  .setting button i{
    margin-left: 8px;
    font-size: 20px;
  }
  .setting span{
    display: none;
  }
  /* setting */
  .label-input{
    display: block;
    margin: 20px 25px 0 20px;
  }
  #moved-input-imp{
    margin: 20px 25px 0 20px;
  }
  .box-input-set input[type="text"]{
    margin: 10px 0 0 20px;
  }
  .box-input-set input[type="radio"]{
    margin: 18px 0 0 20px;
  }
  .box-input-set select{
    margin: 18px 0 0 20px;
  }
  .profile-box-set{
    margin: 20px 0 0 75px;
  }
  .crop-area-crop{
    width: 150px;
    height: 150px;
    margin: 10px 0 0 30px;
  }
  .crop-result{
    margin-left: 10px;
  }
  #button-upload-setting{
    display: block;
  }
  #submit-set{
    display: block;
    margin-left: 30px;
  }
  .crop-area-set{
    overflow: auto;
    width: 100%;
    height: 1000px;
  }
  .setting-box{
    height: 1100px;
    overflow: auto;
  }
  .box-input-set{
    height: 780px;
  }
  .guide-title{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 22px;
  }
  .not-table{
    margin: 10px 130px 0;
  }
  .side-menu,.profile-box,.side-menu li{
    width: 280px;
  }
  .book-wh{
    margin: 20px 0 0 20px;
  }
  .main-dash{
    max-width: 360px;
    /* min-width: 100px; */
  }
  .search-cat input{
    width: 110px;
  }
  .search-cat{
    width: 340px;
  }
  .book-cover{
    margin: 20px 68px 95px;
  }
  .pinjam-di{
    margin: -75px 40px 0;
  }
  .deskripsi-buku{
    margin-left: 30px;
    width: 300px;
    height: auto;
    min-height: 400px;
  }
  .tab-des-buku,.tab-des-detail{
    width: 150px;
  }
  .isi-des,.detail-des{
    width: 300px;
  }
  .table-bunk table tr td:first-child{
    width: 87.5%;
  }
  .rekomendasi-buku{
    width: 360px;
    height: 900px;
    margin-left: 12px;
    margin-bottom: 20px;
  }
}
